body{
    background-color: #fbf5e3;
    font-family: 'Open Sans', sans-serif;
    width: 1024px;
    margin: auto;
}

/*Début Header et Nav*/
.main-header{
    padding: 1rem 1rem;
}

.header__image{
    transform: rotate(45deg);
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
    width: 9rem;
    height: 9rem;
    margin: 2rem auto 0;
}
.main-header__image{
    transform: rotate(-45deg);
    margin: -1rem 0 0 -2rem;
    padding-left: 2rem;    
}

.main-header__title{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: blue;
}

.main-header__links, .menu{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.menu__item{
    margin: 1rem 1rem;
    font-size: 1.6rem;
    color: brown;
}

.socials{
    display: flex;
}

.socials__item{ /*Permet de mettre une marge entre les icones*/
    margin-left: 1rem;
}

.socials__icon{ /*Permet de modifier la taille des icones*/
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
}
/*Fin de Header et Nav*/

.container-main{
    display: flex;
    width: 100%;
}

.left-container{
    width: 70%;
    margin: 2rem 1rem;
}

.right-container{
    width: 30%;
    margin: 2rem 1rem;
}

.experience__title, .training__title, .skill__title, .driver-license__title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem auto;
}

.experience{
    display: list-item;
    margin: 2rem 2rem;
}

.experience__item{
    margin: 1rem auto;
}

.expericence__subtitle, .training__date{
    font-size: 1.6rem;
    font-weight: 700;
}

.experience__entitled, .training-date__text{
    font-style: italic;
    text-indent: 13%;
    margin-top: 0.5rem;
}


.left-container__experience, .training, .skill, .driver-license{
    border: 0.5rem solid #f5e7bc;
    border-radius: 0.5rem;
    margin: 1.5rem auto;
    padding: 1rem 1rem;
}

.training-date__text{
    text-align: left;
    margin: 1rem auto;
}

.experience__text{
    font-size: 1.4rem;
    list-style-type: disc;
    margin-left: 12rem;
    margin-top: 0.5rem;
    padding: 0.3rem auto;
}

.skill__item{
    list-style-type: disc;
    padding-left: 6rem;
}

.training__date{
    text-align: center;
}


/*Début Footer*/

footer{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}